.color{
    background: linear-gradient(117.95deg, #833AB4 -2.4%, #FD1D1D 52.25%, #FCB045 106.89%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.adjust{
    width: 45rem;
    margin-top: 30px;
}
.vision{
    background: linear-gradient(118.41deg, #E65C00 -6.05%, #F9D423 106.11%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}